XML/xsd.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="database">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="employees">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="salesperson" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="emp_id"/>
                    <xs:element type="xs:string" name="firstname"/>
                    <xs:element type="xs:string" name="lastname"/>
                    <xs:element type="xs:string" name="address"/>
                    <xs:element type="xs:int" name="phone_no"/>
                    <xs:element type="xs:short" name="salary"/>
                    <xs:element type="xs:string" name="sex"/>
                    <xs:element type="xs:short" name="sales"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="technician" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="emp_id"/>
                    <xs:element type="xs:string" name="firstname"/>
                    <xs:element type="xs:string" name="lastname"/>
                    <xs:element type="xs:string" name="address"/>
                    <xs:element type="xs:int" name="phone_no"/>
                    <xs:element type="xs:short" name="salary"/>
                    <xs:element type="xs:string" name="sex"/>
                    <xs:element type="xs:string" name="specialization"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="contracts">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="contract" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="contract_no"/>
                    <xs:element type="xs:string" name="cdate"/>
                    <xs:element type="xs:string" name="payment_info"/>
                    <xs:element name="service">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="service_no"/>
                          <xs:element type="xs:short" name="price"/>
                          <xs:element type="xs:string" name="name"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="customer">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="customer_id"/>
                          <xs:element type="xs:string" name="firstname"/>
                          <xs:element type="xs:string" name="lastname"/>
                          <xs:element type="xs:long" name="phone_no"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="cars">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="car" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="vehicle_id"/>
                    <xs:element type="xs:string" name="model"/>
                    <xs:element type="xs:int" name="price"/>
                    <xs:element type="xs:short" name="contract_no"/>
                    <xs:element type="xs:string" name="color"/>
                    <xs:element name="type">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:int" name="odometer" minOccurs="0"/>
                          <xs:element type="xs:string" name="year"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>